# ignore large files, unnecessary folders
*.hdf5
astroCalib\b2b3_post_updateErr2.hdf5
astroCalib\my_posterior.hdf5
*.fits
*.fit
*fit.gz
*.tar
bka-chain.pkl
__pycache__
.ipynb_checkpoints
*.png
*.pkl
LMIRCam_Data_reduction
trapBEA
*.ptprob
*.dat
*.points
*.iterinfo
*Null-.txt
*Planet-.txt
*summary.txt
*.DS_Store
